.error {
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 50%;

  width: 400px;
  height: 150px;
  margin-left: -200px;
  margin-top: -75px;
  padding: 20px 40px;

  background-color: rgb(14, 13, 13);
  color: rgb(246, 243, 243);
  border-radius: 10px;
}